.Header-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.current-wrapper {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 40px;
  justify-content: space-between;
  margin: 20px;
  flex-grow: 3;
  flex-shrink: 1;
}
.Flactuation-wrapper {
  max-width: 440px;
  flex-grow: 1;
  flex-shrink: 20;
}
.fluc-value,
.fluc-data-line {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}
.fluc-value {
  /* margin: 0px 20px; */
}
.fluc-base {
  margin-bottom: 24px;
}
.fluc-data-line {
  margin: 8px 0px;
}
.final-fluc-value {
  float: right;
  margin-top: 14px;
  font-family: "Inter", Courier, monospace;
  font-size: 24px;
  font-weight: 600;
}
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin-right: 8px;
  /* border: 1px solid red; */
  background-color: rebeccapurple;
}
.fluc-data-wrapper {
}
.fluc-final-value {
  margin-top: 42px;
}
.spacer8 {
  margin-left: 8px;
}
.Header {
  font-family: "Inter", Courier, monospace;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}
.para {
  font-family: "Inter", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}
.paraBold {
  opacity: 1;
  font-weight: 500;
}

.cur-left {
  margin-bottom: 24px;
  max-width: 355px;
}
.chart-align {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
}
.fluc-chart {
  max-width: 120px;
}
.chart-block {
  margin-left: 32px;
}
.Button {
  padding: 8px 20px;
  border: 8px;
  opacity: 1;
  font-weight: 500;
  background-color: #2a2a2a;
  border: 1px solid #555555;
  color: #e4e4e4;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  margin-left: 8px;
  height: fit-content;
}

.Button-green {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4C9C0D;
  color: #4C9C0D;
  background-color: #70c78715;
  transition-duration: 700;
}
.Button-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  background-color: white;
}
.space-right2 {
  margin-right: 8px;
}
.graph-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.bar-chart-act {
  display: flex;
  align-items: baseline;
}
.addIcon {
  padding: 20px 12px;
  cursor: pointer;
  z-index: 5;
}
.sub-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.sub-Header {
  font-size: 15px;
  font-weight: 500;
}
.tag {
  padding: 4px 18px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 400;
  background-color: #e4e4e4;
  width: fit-content;
  margin-left: 8px;
  transition: 0.2s ease-in;
}
.lowHigh {
  width: 30px;
  text-align: center;
}
.tag-border {
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  border-radius: 8px;
  color: #555555;
}
.basetag {
  width: 84px;
  background-color: #feecc5;
  color: #996801;
}
